body {
    font-family: serif;
    color: black;
}

.prof img{
    width: 100px;
    vertical-align:top;
}

.prof .prof_msg {
    display: inline-block;
    vertical-align:top;
}

.supplement {
    font-style: oblique;
    color: gray;
}
